The notebook worked through various techniques to import data using Pandas.

# Working with csv files

In [13]:
# Importing the required libraries
import pandas as pd 
import numpy as np

#Optional features
pd.options.display.float_format = '{:,.2f}'.format

In [14]:
# Load the data and parse a month and year 
landtemps_path = 'data/landtempssample.csv'
landtemps_df = pd.read_csv(landtemps_path,parse_dates=[['month','year']])
type(landtemps_df)

pandas.core.frame.DataFrame

In [15]:
# View the first few columns
landtemps_df.head(7)

  month_year   locationid   temp  latitude  longitude  stnelev           station countryid        country
0 2000-04-01  USS0010K01S   5.27     39.90    -110.75 2,773.70     INDIAN_CANYON        US  United States
1 1940-05-01  CI000085406  18.04    -18.35     -70.33    58.00             ARICA        CI          Chile
2 2013-12-01  USC00036376   6.22     34.37     -91.12    61.00     SAINT_CHARLES        US  United States
3 1963-02-01  ASN00024002  22.93    -34.28     140.60    65.50  BERRI_IRRIGATION        AS      Australia
4 2001-11-01  ASN00028007    NaN    -14.78     143.50    79.40          MUSGRAVE        AS      Australia
5 1991-04-01  USW00024151   5.59     42.15    -112.29 1,362.50        MALAD_CITY        US  United States
6 1993-12-01  RSM00022641 -10.17     63.90      38.12    13.00             ONEGA        RS         Russia

In [16]:
# rename the month_year column to datemeasured
landtemps_df.rename(columns={'month_year':'datemeasured'}, inplace=True)
landtemps_df.head()

  datemeasured   locationid  temp  latitude  longitude  stnelev           station countryid        country
0   2000-04-01  USS0010K01S  5.27     39.90    -110.75 2,773.70     INDIAN_CANYON        US  United States
1   1940-05-01  CI000085406 18.04    -18.35     -70.33    58.00             ARICA        CI          Chile
2   2013-12-01  USC00036376  6.22     34.37     -91.12    61.00     SAINT_CHARLES        US  United States
3   1963-02-01  ASN00024002 22.93    -34.28     140.60    65.50  BERRI_IRRIGATION        AS      Australia
4   2001-11-01  ASN00028007   NaN    -14.78     143.50    79.40          MUSGRAVE        AS      Australia

In [17]:
# Check the data types
landtemps_df.dtypes

datemeasured    datetime64[ns]
locationid              object
temp                   float64
latitude               float64
longitude              float64
stnelev                float64
station                 object
countryid               object
country                 object
dtype: object

In [18]:
# Get the total number of rows
landtemps_df.shape[0]

100000

In [19]:
# Get the number of columns
landtemps_df.shape[1]

9

In [20]:
# Get the statistical information on the data
landtemps_df.describe()

           temp   latitude  longitude    stnelev
count 85,554.00 100,000.00 100,000.00 100,000.00
mean      10.92      35.08     -38.12     565.56
std       11.52      23.55      84.30   1,073.65
min      -70.70     -90.00    -179.98    -350.00
25%        3.46      33.19    -101.66      64.00
50%       12.22      40.79     -79.57     240.80
75%       19.57      47.42      17.53     644.70
max       39.95      82.52     179.75   9,999.00

In [22]:
# Check for missing values
landtemps_df.isnull().sum()

datemeasured        0
locationid          0
temp            14446
latitude            0
longitude           0
stnelev             0
station             0
countryid           0
country             5
dtype: int64

In [26]:
# Removing the missing values on the temp column
landtemps_df.dropna(subset=['temp'],inplace=True)
landtemps_df.isnull().sum()

datemeasured    0
locationid      0
temp            0
latitude        0
longitude       0
stnelev         0
station         0
countryid       0
country         2
dtype: int64

# Working with excel

In [29]:
gdpFilePath = 'data/GDPpercapita.xlsx'
gdp_df = pd.read_excel(gdpFilePath)
gdp_df.head()

                                  Our World in DataÂ
0  https://github.com/owid/covid-19-data/tree/mas...